scrapy
pony
PyMySQL
py-pretty
pycrypto
elasticsearch>=5.0.0,<6.0.0
elasticsearch-dsl>=5.0.0,<6.0.0
python-dateutil
Twisted
txsocksx
gensim
stop-words
nltk==3.2.1
scikit-learn
scipy
numpy
tabulate
langdetect
pycountry
networkx
beautifulsoup4
lxml
