{% from 'ruler.macro.html' import ruler %}
{% macro sort_url(title, sort, context, page=1) %}
<a href="{{ url_for('index', more=context['more'], search=context['search'], is_up=context['is_up'], never_seen=context['never_seen'], show_subdomains=context['show_subdomains'], rep=context['rep'], show_fh_default=context['show_fh_default'], search_title_only=context['search_title_only'], sort=sort, page=page) }}">{{title}}</a>
{% endmacro %}

{% macro paginate(context, num_results, per_page, current_page) %}
{% if num_results > per_page %}
<div class="pagination">
<p>
¯`·.¸¸.·´¯`·
{% set last = int((((num_results-1)/per_page)+1)+1) %}
{% for page in range(1,last) %}
{% if page == current_page %}
<em>{{ page }}</em>
{% else %}
{{ sort_url(page, context['sort'], context, page) }}
{% endif %}
{% endfor %}
 ><(((º>
</p>
</div>
{% else %}
{{ ruler() }}
{% endif %}
{% endmacro %}


{% macro domain_table(domains, sortable=False, context=None) %}
	<table class="domain_list">
		<thead>
		{% if not sortable %}
			<tr>
			    <th></th>
				<th>Onion</th>
				<th>Title</th>
				<th>Added</th>
				<th>Visited</th>
				<th>Last&nbsp;Up</th>
			</tr>
		{% else %}
		<tr>
			    <th></th>
				<th>{{sort_url("Onion", "onion", context, 1) }}</th>
				<th>{{sort_url("Title", "title", context, 1) }}</th>
				<th>{{sort_url("Added", "created_at", context, 1) }}</th>
				<th>{{sort_url("Visited At", "visited_at", context, 1) }}</th>
				<th>{{sort_url("Last Up", "last_seen", context, 1) }}</th>
			</tr>
		{% endif %}
		</thead>
		<tbody>
{% for domain in domains %}
			<tr class="{{domain.status()}}">
			    <td class="info_link">
			    	<a class="info_link" href="{{url_for('onion_info',onion=domain.host)}}">(i)</a>
			    </td>
				<td class="domain">
					<a href="{{domain.index_url()}}">{{domain.host}}</a>
				</td>
				<td class="title">
					{{domain.title}} 
				    {% if domain.is_genuine %}
				    <span class="tag genuine">[G]</span>
				    {% endif %}
				    {% if domain.is_fake %}
				    <span class="tag fake">[F]</span>
				    {% endif %}

				</td>
				<td class="created_at ago">
					{{Domain.time_ago(domain.created_at)}}
				</td>
				<td class="visited_at ago">
					{{Domain.time_ago(domain.visited_at)}}
				</td>
				<td class="last_seen {{'never ' if Domain.time_ago(domain.last_alive)=='Never' else ''}}ago">
					{{Domain.time_ago(domain.last_alive)}}
				</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro domain_fulltext_table(results, sortable=False, context=None) %}
	<table class="domain_list">
		<thead>
		{% if not sortable %}
			<tr>
			    <th></th>
				<th>Onion</th>
				<th>Title</th>
				<th>Added</th>
				<th>Visited</th>
				<th>Last&nbsp;Up</th>
			</tr>
		{% else %}
		<tr>
			    <th></th>
				<th>{{sort_url("Onion", "onion", context) }}</th>
				<th>Title</th>
				<th>{{sort_url("Added", "created_at", context) }}</th>
				<th>{{sort_url("Visited At", "visited_at", context) }}</th>
				<th>Last Up</th>
			</tr>
		{% endif %}
		</thead>
		<tbody>
{% for hit in results.hits %}
{% set domain = Domain.get(id=hit.domain_id) %}
			<tr class="{{domain.status()}}">
			    <td class="info_link">
			    	<a class="info_link" href="{{url_for('onion_info',onion=domain.host)}}">(i)</a>
			    </td>
				<td class="domain">
					<a href="{{domain.index_url()}}">{{domain.host}}</a>
				</td>
				<td class="title">
					<a href="{{hit.meta.id}}" class="title_link">{{hit.title if hit.title.strip()!="" else "No Title"}}</a> 
				    {% if domain.is_genuine %}
				    <span class="tag genuine">[G]</span>
				    {% endif %}
				    {% if domain.is_fake %}
				    <span class="tag fake">[F]</span>
				    {% endif %}<br/>
				    {{break_long_words(hit.meta.highlight.body_stripped[0])|safe}}

				</td>
				<td class="created_at ago">
					{{Domain.time_ago(hit.created_at)}}
				</td>
				<td class="visited_at ago">
					{{Domain.time_ago(hit.visited_at)}}
				</td>
				<td class="last_seen {{'never ' if Domain.time_ago(domain.last_alive)=='Never' else ''}}ago">
					{{Domain.time_ago(domain.last_alive)}}
				</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% endmacro %}