{% extends "layout.html" %}
{% from 'domain_table.macro.html' import domain_fulltext_table %}
{% from 'domain_table.macro.html' import paginate %}
{% from 'search_panel.macro.html' import search_panel %}

{% block body %}
<div class="contents">
{{ search_panel(context, n_results, orig_count, is_more, elasticsearch_enabled) }}

{{ paginate(context, orig_count, n_results, page) }}
{% if orig_count == 0 %}
<div id="error_code">
No Results
</div>
{% else %}
{{ domain_fulltext_table(results, sortable=False, context=context) }}

{{ paginate(context, orig_count, n_results, page) }}
{% endif %}

</div>
{% endblock %}
