{% extends "layout.html" %}
{% from 'domain_table.macro.html' import domain_table %}
{% block body %}
<div id="info_panel" class="contents">
<div id="dates">
<table>
<tr>
<td>Created At</td>
<td>{{domain.created_at}}</td>
</tr>
<tr>
<td>Visited At</td>
<td>
{% if domain.visited_at != NEVER %}
{{domain.visited_at}}
{% else %}
<span class="never">Never</span>
{% endif %}
</td>
</tr>
<tr>
<td>Last Seen</td>
<td>
{% if domain.last_alive != NEVER %}
{{domain.last_alive}}
{% else %}
<span class="never">Never</span>
{% endif %}
</td>
</tr>

{% if domain.server != '' %}
<tr>
<td>Server</td>
<td>
{{domain.server}}
</td>
</tr>
{% endif %}

{% if domain.powered_by != '' %}
<tr>
<td>X-Powered-By</td>
<td>
{{domain.powered_by}}
</td>
</tr>
{% endif %}

</table>
</div>
<h2>Information for {{domain.host}}</h2>
<p>
<div id="title">
{% if domain.title!='' %}
{{domain.title}}
{% else %}
No title for this domain.
{% endif %}
<a href="{{domain.index_url()}}">[SITE]</a>
<a href="{{url_for('onion_info_json', onion=domain.host)}}">[JSON]</a>
</div>
</p>
<p>
<div id="tags">
{% if domain.is_fake %}
<span class="tag fake">[FAKE]</span> -- this domain is a clone of an onion listed in the /r/darknetmarkets <a href="https://www.reddit.com/r/darknetmarkets/wiki/superlist">superlist</a> 
{% endif %}
{% if domain.is_genuine %}
<span class="tag genuine">[GENUINE]</span> -- this onion is listed as genuine in the /r/darknetmarkets <a href="https://www.reddit.com/r/darknetmarkets/wiki/superlist">superlist</a> 
{% endif %}
</div>

<div id="emails">
<h3>Emails:</h3>
{% if len(emails)==0 %}
No emails in database.
{% else %}
<ul>
{% for email in emails %}
<li><a href="mailto://{{email.address}}">{{email.address}}</a>
{% if len(email.domains())>1 %}
(found {{len(email.domains())-1}} other places <a href="{{url_for('email_list',addr=email.address)}}">[VIEW]</a>)
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
</div>

<div id="bitcoin_addresses">
<h3>Bitcoin Addresses:</h3>
{% if len(bitcoin_addresses)==0 %}
No bitcoin addresses in database.
{% else %}
<ul>
{% for addr in bitcoin_addresses %}
<li><a href="https://blockchainbdgpzk.onion/address/{{addr.address}}">{{addr.address}}</a>
{% if len(addr.domains())>1 %}
(found {{len(addr.domains())-1}} other places <a href="{{url_for('bitcoin_list',addr=addr.address)}}">[VIEW]</a>)
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
</div>


<div id="ssh">
<h3>SSH fingerprint</h3>
{% if not domain.ssh_fingerprint %}
No SSH fingerprint in database.
{% else %}
<div class="fingerprint_container">
<div class="fingerprint">
{{domain.ssh_fingerprint.fingerprint}}
</div>
</div>
{% if fp_count > 1 %}
<p>
{{fp_count-1}} other {{"domain has" if fp_count == 2 else "domains have"}} this fingerprint. <a href="{{url_for('ssh_list', id=domain.ssh_fingerprint.id)}}">[VIEW]</a>
</p>
{% endif %}
{% endif %}
</div>


</p>
<div class="links links_to">
<h3>Links to this domain:</h3>
{% if links_to.count()!=0 %}
{{ domain_table(links_to)}}
{% else %}
No links to this domain in database.
{% endif %}
</div>
<div class="links links_from">
<h3>Links from this domain:</h3>
{% if links_from.count()!=0 %}
{{ domain_table(links_from)}}
{% else %}
No links from this domain in database.
{% endif %}
</div>
</div>
{% endblock %}
