{% import 'input.macro.html' as input %}
{% macro search_panel(context, n_results, orig_count, is_more, elasticsearch_enabled) %}
<div id="search">
<form method="GET">
<p>
{{input.checkbox("more", context["more"], "more")}} 
{{input.checkbox("never_seen", context["never_seen"], "inc. never seen")}}
{{input.checkbox("is_up", context["is_up"], "alive only")}}
({{input.radio("rep", ["n/a","genuine", "fake"], context["rep"])}})
{{input.text("search", context["search"], "search:")}}
{{input.submit("Go >>>")}} <br />
{{input.checkbox("show_subdomains", context["show_subdomains"], "show subdomains")}} 
{{input.checkbox("show_fh_default", context["show_fh_default"], "show fh default")}}
{% if elasticsearch_enabled %}
{{input.checkbox("search_title_only", context["search_title_only"], "search title only")}}
{% endif %}
<br/>
<span class="small">
search for title, email, bitcoin addr or enter ".onion" domain for onion info. showing {{n_results}} results of {{orig_count}}.
{% if is_more %}
<a href="{{ url_for('index', more='yes', search=context['search'], is_up=context['is_up'], never_seen=context['never_seen'], show_subdomains=context['show_subdomains'], rep=context['rep'], show_fh_default=context['show_fh_default'], search_title_only=context['search_title_only'], sort=sort) }}">[MORE]</a>
{% endif %}
</span>
</p>
</form>
</div>
{% endmacro %}