
{% macro maybe_bold(text, is_bold) %}
{% if is_bold %}
<b>{{text}}</b>
{% else %}
{{text}}
{% endif %}
{% endmacro %}

{% macro good_or_bad(good, bad, is_good, is_bold=False) %}
{% if is_good %}
<span class="good">{{ maybe_bold(good, is_bold) }}</span>
{% else %}
<span class="bad">{{  maybe_bold(bad,  is_bold) }}</span>
{% endif %}
{% endmacro %}


{% macro status_text(status, alive_text="Alive", maybe_text="Problems", dead_text="Dead", is_bold=True) %}
{% if status == "alive" %}
<span class="good">{{    maybe_bold(alive_text, is_bold) }}</span>
{% elif status == "maybe" %}
<span class="warning">{{ maybe_bold(maybe_text, is_bold) }}</span>
{% else %}
<span class="bad">{{     maybe_bold(dead_text,  is_bold) }}</span>
{% endif %}
{% endmacro %}

{% macro superscript(text) %}
<sup><span class="small">{{text}}</span></sup>
{% endmacro %}

{% macro nbsp(text) %}
{{text.replace(" ","&nbsp;")|safe}}
{% endmacro %}

